/* .home-header {
  /* background-image: url("../Images/banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh; */
/* background-color: #f5f5f5; */
/* } */

.sort-bio{
  text-decoration: none;
  color: #EEEE;
  border-bottom: 2px solid #0f132be7;
  border-radius: 5px;
}
.sort-bio:hover{
  color: #0f132be7;
  border-bottom: 2px solid #F14B36;
}
.card-style{
  background-image: linear-gradient(to right, #533e85, #488fb1);
  border: none;
}
.single-card{
  text-align: center;
}
.single-card img{
  width: 80px;
  height: 80px;
}
.single-according-item{
  background-image: linear-gradient(to right, #533e85, #488fb1);
}
