
.sort-bio{
  text-decoration: none;
  color: #EEEE;
  border-bottom: 2px solid #0f132be7;
  border-radius: 5px;
}
.sort-bio:hover{
  color: #0f132be7;
  border-bottom: 2px solid #F14B36;
}
.card-style{
  background-image: linear-gradient(to right, #533e85, #488fb1);
  border: none;
}
.single-card{
  text-align: center;
}
.single-card img{
  width: 80px;
  height: 80px;
}
.single-according-item{
  background-image: linear-gradient(to right, #533e85, #488fb1);
}
.pertner-row{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
@media only screen and (max-width: 600px) {
  .pertner-row{
    grid-template-columns: repeat(2, 1fr)
  }
}

.ceo-img img{
 width: 100%;
}
.ceo-desc{
  padding: 20px;
}
.ceo-desc p{
  text-align: justify;
}

.hover-effect:hover{
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
  z-index: 2;
}

.btn-design{
  background-image: linear-gradient(to right, #533e85, #488fb1);
  font-size: 1.3rem;
}

.more-course{
  background-image: linear-gradient(to right, #533e85, #488fb1);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
.more-course p{
  font-size: 2rem;
  font-weight: bold;
}
.more-top div a{
  text-decoration: none;
}
