.navber-design {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.header-name {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #0bc560;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: bold;
}
.nav-link:hover {
  background-color: #0bc560;
  /* color: #ffff; */
  border-radius: 10px;
}
