@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navber-design {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right, #533e85, #488fb1);
  position: -webkit-fixed;
  position: sticky;
  z-index: 10;
}
.nav-link {
  font-size: 1.3rem;
  margin-left: 10px;
  font-weight: bold;
}
.nav-item {
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.nav-item:hover {
  background-color: #0bc560;
  /* color: #ffff; */
  border-radius: 10px;
}
.nav-img {
  width: 100px;
}
