.course-section-title {
  border-bottom: 2px dotted gray;
  padding: 0;
  margin: 0;
}
.single-card-course {
  width: 300px;
  margin: auto;
}

/* add course design */
.course-add-card {
  background-color: transparent;
  border: 3px solid #475889;
}
