.footer {
  background-color: #0f132be7;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
.footer-1st-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-1st-section img {
  width: 200px;
}
.footer-motivate-speach {
  font-size: 1rem;
  margin-top: 10px;
}
.footer-icon {
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.ft-text {
  font-size: 1.2rem;
}
.footer-icon a {
  color: white;
}
.footer-icon:hover {
  background-color: #488fb1;
}
.contact-icon {
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.quick-link {
  list-style: none;
  line-height: 2;
}
.quick-link li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
.quick-link li a:hover {
  color: #488fb1;
}

.footer-intro a {
  text-decoration: none;
}
